/node_modules/
/build/
/wordpress/

wp-dependencies.json

# ブロックは自由についかできるよう都度指定
src/blocks/*
!src/blocks/alert/
!src/blocks/sample/
!src/blocks/annotation
!src/blocks/weather
!src/blocks/chart
!src/blocks/event-date

# AI
.claude/settings.local.json
